<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <h1><%=pageTitle %></h1>
    <form action="/booksearch/:booktitle" method="get">
      <input
        id="home_searchbar"
        type="text"
        placeholder="Find book title here!"
        name="booktitle"
      />
      <button id="search" type="submit">Search</button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
