
      body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
      }
    
   
     .nav-list{
       display:  flex;
       margin: 0;
      background-color: grey;
      height: 5rem;
      align-items: center;
      list-style: none;

      }

      main{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .nav-list>li{
        margin: 0 1rem;
      }
      a{
        text-decoration: none;
        color: black;
      }

      a:hover,a:active,a.active{
        color:rgba(9, 31, 53, 0.844);
        font-size: bolder;

      }
      .login{
        width: 100%;
        margin: 3rem;
        display: flex;
        justify-content: flex-end;
      }
     form{
       display: flex;
       align-items: center;
     }
     #search{
       margin: 0 10px;
       height: 2rem;
       width: 6rem;
      display: flex;
      align-items: center;
     }