<header class="main">
    <nav>
      <ul class="nav-list">
        <li>
          <a class="<%= path === '/' ? 'active' : '' %>"" href="/">Home</a>
        </li>
        
        <li>
            <a class="<%= path === '/login_signup' ? 'active' : '' %>" href="/login_signup">Register</a>
        </li>

        <div class="login">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
        </div>
      </ul>
    </nav>
  </header>